
.jumbotron {
font-style: italic;
background-image: url(../css/mo.jpg);
text-color: white;
background-repeat: no-repeat;
background-size: cover;
margin-top: -5%;
margin-bottom: 10;
}
.container {
  text-align: center;
  color: skyblue;
}
body {
  background-image: url(../css/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Pacifico';
}
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: skyblue;
}

li {
  float: left;
}

li a {
    display: block;
    color: black:
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
      background-color: grey;
}
.text-box {
  boarder:solid grey;
}

h.1{
  color:grey;
}

p.1 {
  color: skyblue;
}
#port {
  float:left;
  margin-left: -15%;
}
#dream {
  float: right;
  margin-left: 15%;
  margin-top: 20%;
}
